---

- name: Install | install package needed to gather ip and hostname
  ansible.builtin.package:
    name: "{{ item }}"
  with_items:
    - iproute
    - hostname
    - firewalld
  become: "{{ firewalld_become }}"

- name: Install | enable and start firewalld
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true
  become: "{{ firewalld_become }}"
