---

- name: Zone | gather host facts
  ansible.builtin.setup:
  register: hostfacts

- name: Zone | debug host facts
  ansible.builtin.debug:
    var: hostfacts
    verbosity: 3
  when: not zone.nics is defined

- name: Zone | set zone nics from host facts if not defined
  ansible.builtin.set_fact:
    routing_zone: "{{ zone.name | default(firewalld_default_zone) }}"

- name: Zone | debug zone to set
  ansible.builtin.debug:
    var: routing_zone
    verbosity: 1

- name: Zone | create zones - activate zone
  ansible.posix.firewalld:
    zone: "{{ routing_zone }}"
    state: present
    permanent: true
  become: "{{ firewalld_become }}"

- name: Zone | create zones
  ansible.posix.firewalld:
    zone: "{{ routing_zone }}"
    permanent: true
    immediate: true
    state: enabled
  become: "{{ firewalld_become }}"

- name: Zone | debug zone
  ansible.builtin.debug:
    var: zone
    verbosity: 1

- name: Zone | debug Nics
  ansible.builtin.debug:
    msg: "{{ zone.nics | list | default([]) }}"
    verbosity: 1
  when: zone.nics is defined


- name: Zone | debug port forward loop
  ansible.builtin.debug:
    var: forward_rule.port_forward_rule
  loop: "{{ zone.port_forward_rules | default([]) }}"
  loop_control:
    loop_var: forward_rule

- name: Zone | configure forwarding
  ansible.builtin.include_tasks: port-forwarding.yml
  loop: "{{ zone.port_forward_rules | default([]) }}"
  loop_control:
    loop_var: forward_rule

- name: Zone | configure ports and services
  ansible.builtin.include_tasks: services-ports.yml

- name: Zone | unaffect nics from default zone
  ansible.posix.firewalld:
    zone: "public"
    immediate: true
    interface: "{{ nic_to_set }}"
    state: disabled
  loop: "{{ zone.nics | list }}"
  loop_control:
    loop_var: nic_to_set
  when:
   - zone.nics is defined
   - routing_zone != "public"
  become: "{{ firewalld_become }}"

- name: Zone | affect nics
  ansible.posix.firewalld:
    zone: "{{ routing_zone }}"
    permanent: true
    immediate: true
    interface: "{{ nic_to_set }}"
    state: enabled
  loop: "{{ zone.nics | list }}"
  loop_control:
    loop_var: nic_to_set
  when: zone.nics is defined
  become: "{{ firewalld_become }}"
