[defaults]
remote_tmp = /var/tmp/ansible-remote
collections_paths = ../community-collections:~/.ansible/collections:/usr/share/ansible/collections
inject_facts_as_vars = False

[ssh_connection]
pipelining = True


